@font-face {
    font-family: 'Myriad Pro';
    src: url(./fonts/MyriadProRegular.woff) format('woff'),
        url(./fonts/MyriadProRegular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url(./fonts/MyriadProBold.woff) format('woff'),
        url(./fonts/MyriadProBold.woff2) format('woff2');
    font-weight: 700;
}
/* git is cool */
